runtime: nodejs10
env: standard

env_variables:
  NODE_ENV: production

handlers:
  - url: /static/
    expiration: 31d
    static_dir: build/web/static/

  - url: /([^\/\,]+\.\w{2,5})$
    static_files: build/web/\1
    upload: build/web/([^\/\,]+\.\w{2,5})$
    expiration: 30d

  - url: .*
    secure: always
    script: auto
