.venv/
frontend/node_modules/
frontend/src/
frontend/public/
frontend/package.json
frontend/README.md
frontend/tsconfig.json
frontend/yarn.lock

__pycache__

tests/
test.py
requirements.dev.txt
.editorconfig
.flaskenv
